<div class="row">
    <div class="col-12">
        <h2 class="h2-responsive text-uppercase text-primary text-center">
            Pourquoi nous choisir?
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-12">
                <h3 class="h3-responsive text-uppercase text-primary text-center">
                    Réparation de MAC et PC
                </h3>
            </div>
            <div class="col-12 text-center">
                <p>Notre équipe est spécilisé dans la réparation et la configuration de poste de travail MAC et PC.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-12">
                <h3 class="h3-responsive text-uppercase text-primary text-center">
                    Services de qualité
                </h3>
            </div>
            <div class="col-12 text-center">
                <p>Notre équipe se fera un plaisir de vous répondre de façon personnalisée, rapide et efficace à vos besoins réels en informatique!</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="row">
            <div class="col-12">
                <h3 class="h3-responsive text-uppercase text-primary text-center">
                    Certifier  par Apple
                </h3>
            </div>
            <div class="col-12 text-center">
                <p>Nos techniciens sont certifier pour toujours être au summum des exigences d’Apple</p>
            </div>
        </div>
    </div>
</div>
<div class="card primary-color my-5">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
            </div>
            <div class="col-xs-12 col-sm-9">
            <h5 class="h5-responsive text-uppercase text-white">
                Nous offront le recyclage de votre ancien Mac ou PC à l'achat d'un nouvel ordinateur!
            </h5>
            </div>
        </div>
    </div>
</div>