description = "Header"
==
<section id="header" class="secondary-color-dark">
    <div class="container">
        <div class="row justify-content-end">
			<div class="col">
				{% partial 'socials' %}
			</div>
            <div class="col text-sm-right p-2">
                <span class="pr-3 white-text">
				<a href="tel:{{ this.theme.default_phone }}" style="color:white!important;">
					<i class="fas fa-phone"></i>&nbsp;
					{{ this.theme.default_phone }}</a>
				</span>
				<span class="pr-3 white-text align-top">
				<a href="mailto:{{ this.theme.default_email }}" class="text-uppercase" style="color:white!important;">
					<i class="fas fa-envelope"></i>
					{{ this.theme.default_email }}</a>
				</span>
				<span>
				{% if lang == 'fr' %}
				<a href="#"
				   class="text-white"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'en'" title="English">
					ENGLISH
				</a>
				{% else %}
				<a href="#"
				   class="text-white"
				   data-request="onSwitchLocale"
				   data-request-data="locale: 'fr'" title="Français">
					FRANÇAIS
				</a>
				{% endif %}
				</span>
            </div>
        </div>
    </div>
</section>