/*
 General CSS tricks
*/
ol, li {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold!important;
}

.move-cursor {
  cursor: move;
}

.underline:hover {
  text-decoration: underline!important;
}

.disabled {
  pointer-events: none!important;
  cursor: default;
}

.small-block {
  display: inline-block!important;
  line-height: 16px;
}

.x-small-block {
  display: inline-block!important;
  line-height: 14px;
  font-size: 0.7rem;
}

.fa-15x {
  font-size: 1.5rem;
}

a {
  outline: 0;
  color: $primary-color;
  text-decoration: none!important;
}
a:hover {
  outline: 0;
  color: $primary-color-dark;
  text-decoration: none!important;
}

.text-primary{
  color: $primary-color!important;
}

@include media-breakpoint-up(md) {
  .marketing-partial {
    height: 600px;
  }
}

@include media-breakpoint-down(xs) {
  .marketing-partial {
    height: 400px;
  }
}

.layout-app {
  footer, header, main {
    padding-left: $sidenav-width;

  }

  @include media-breakpoint-down(md) {
    footer, header, main {
      padding-left: 0 !important;
    }
  }
}

/*
 Cards
*/
.card {
  box-shadow: 0 0 0;
  transition: ease;
  transition-delay: 5ms;
}
.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.footer{
  position: relative;
  z-index: 1;
  margin-top: -50px!important;
}
.partner-box{
  background-color: #EAECF0;
  transform: skewY(-2deg);
  z-index: 0;
  .container {
    transform: skewY(2deg);
  }
}



.diagonal-box {
  transform: skewY(-11deg);
}
.content {
  max-width: 50em;
  margin: 0 auto;
  transform: skewY(11deg);
}