/*
 General CSS tricks
*/
ol, li {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold!important;
}

.move-cursor {
  cursor: move;
}

.underline:hover {
  text-decoration: underline!important;
}

.disabled {
  pointer-events: none!important;
  cursor: default;
}

.small-block {
  display: inline-block!important;
  line-height: 16px;
}

.x-small-block {
  display: inline-block!important;
  line-height: 14px;
  font-size: 0.7rem;
}

.fa-15x {
  font-size: 1.5rem;
}

a {
  outline: 0;
  color: $primary-color;
  text-decoration: none!important;
}
a:hover {
  outline: 0;
  color: $primary-color-dark;
  text-decoration: none!important;
}

.text-primary{
  color: $primary-color!important;
}

@include media-breakpoint-up(md) {
  .marketing-partial {
    height: 600px;
  }
}

@include media-breakpoint-down(xs) {
  .marketing-partial {
    height: 400px;
  }
}

.layout-app {
  footer, header, main {
    padding-left: $sidenav-width;

  }

  @include media-breakpoint-down(md) {
    footer, header, main {
      padding-left: 0 !important;
    }
  }
}

/*
 Cards
*/
.card {
  box-shadow: 0 0 0;
  transition: ease;
  transition-delay: 5ms;
}
.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.border-rad-5
{border-radius:5px;}
.footer{
  position: relative;
  z-index: 1;
  margin-top: -50px!important;
}
.partner-box{
  background-color: #EAECF0;
  transform: skewY(-2deg);
  z-index: 0;
  .container {
    transform: skewY(2deg);
  }
}
.diagonal-box {
  clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
}
.banner{
  background-image:url("../images/header-home.jpg");
  text-align: left;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-home{
  margin-top:-60px;
  background-color: #EAECF0;
  transform: skewY(3deg);
  z-index: 0;
  .container {
    transform: skewY(-3deg);
  }
}
.banner-text{
  width:700px;
  padding:200px 0 150px 0;
}
.banner-heading{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 30px;
  color:#fff;
}

/* mobile view */
@media (max-width:500px)
{
  .navbar-nav{
    background-color:#000;
    border-top:3px solid #fed136;
    color:#fff;
    z-index:1;
    margin-top:5px;
  }
  .navbar-nav .nav-item .nav-link{
    padding: 0.7em 1em!important;
    font-size: 100%;
    font-weight: 500;
  }
  .banner-text{
    padding:150px 0 150px 0;
  }
  .banner-heading{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }

}

@media (max-width:768px){
  .banner-text{
    width:100%;
    padding:150px 0 150px 0;
  }
}